button.b-default,
.btn-menu {
  min-width: 200px;
  min-height: 50px;
}

div.alert-default,
select.s-default,
textarea.t-default,
input.i-default {
  width: 280px;
}

.no-wrap {
  white-space: nowrap;
}

.block-horizontal-scroll {
  overflow-x: hidden;
}

.horizontal-scroll {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.c-modal {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.modal-dialog {
  max-width: 400px; /* Обмежуємо ширину для компактності */
  width: 100%;
}

.fade-in {
  animation: slideInFromTop 0.5s ease-in-out forwards;
}

.fade-out {
  animation: slideOutToTop 0.5s ease-in-out forwards;
}

.scroll-income {
  height: 150px; overflow-y: auto;
}

.scroll-expense {
    height: 200px; overflow-y: auto;
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOutToTop {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}
.colum-date {
  cursor: pointer;
}

.category-column {
  white-space: nowrap;
}

.value {
  cursor: pointer;
}

.zero-value {
  display: inline-block;
  width: 60px;
  cursor: pointer;
}
.colum-expense {
  min-width: 115px;
  border: 1px solid transparent;
}

.colum-expense:hover {
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.td-w-250 {
  width: 250px;
}

.v-gold {
  border-bottom: 1px solid #e3e375;
}

.v-normal {
  border-bottom: 1px solid #65d5d5;
}

.v-many {
  border-bottom: 1px solid #dd7979;
}

.v-light {
  border-bottom: 1px solid lightgrey;
}

.scrollable-table {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 0.5rem;
  box-sizing: border-box;
}

.error-color {
  color: #df5050;
}

.scrollable-table::-webkit-scrollbar {
  height: 8px;
}
.scrollable-table::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.scrollable-table::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
.scrollable-table::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scrollable-table {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.next-btn-inline {
  color: #999;
  transition: color 0.2s ease-in-out;
}

.next-btn-inline:hover {
  color: #198754;
}

.refresh-icon {
  cursor: pointer;
  color: #999;
  transition: color 0.2s ease;
}

.refresh-icon:hover {
  color: #198754;
}
